.trails-main {
    position: relative;
    overflow: hidden;
    padding: 5rem 3rem 0;
  }
  
  .trails-text {
    position: relative;
    height: 3.5rem;
    line-height: 3rem;
    color: var(--blue);
    font-size: 3rem;
    font-family: 'Raleway', sans-serif;
    letter-spacing: -2px;
    will-change: transform, opacity;
    overflow: hidden;
  }
  
  .trails-text > div {
    overflow: hidden;
  }